@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .crm-offices-list__empty {
        color: $dark-color-text;
    }
}

:root[data-theme="Light"] {
    .crm-offices-list__empty {
        color: $light-color-text;
    }
}

.crm-offices-list {
    @include horizontal-list;
    flex-wrap: wrap;
    overflow: auto;
    padding: $sizing-m;

    &__empty {
        text-align: center;
    }
}
