@import "styles/variables.scss";

.crm-offices-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
	flex-wrap: wrap;
    overflow: auto;
	padding: $sizing-m;

    &__empty {
        color: $dark-color-text;
        text-align: center;
    }
}
