@import "styles/variables.scss";

:root[data-theme="Dark"] {
    .crm-offices-list__empty {
        color: $dark-color-text;
    }
}

:root[data-theme="Light"] {
    .crm-offices-list__empty {
        color: $light-color-text;
    }
}

.crm-offices-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: $sizing-m;

    &__empty {
        text-align: center;
    }
}
