@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .crm-services-list__empty {
        color: $dark-color-text;
    }
}

:root[data-theme="Light"] {
    .crm-services-list__empty {
        color: $light-color-text;
    }
}

.crm-services-list {
    @include vertical-list;

    &__empty {
        text-align: center;
        padding: $sizing-l;
        margin: 0;
    }
}
