@import "../../styles/variables.scss";

:root[data-theme="Dark"] {
    .crmModal {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .crmModalInner {
        background-color: $dark-color-secondary;
    }

    .crmModalHeading {
        color: $dark-color-text;
        border-color: $dark-color-primary;
    }
}

:root[data-theme="Light"] {
    .crmModal {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .crmModalInner {
        background-color: $light-color-secondary;
    }

    .crmModalHeading {
        color: $light-color-text;
        border-color: $light-color-primary;
    }
}

.crmModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.crmModalInner {
    min-width: 30rem;
    max-width: 30rem;
    min-height: 10rem;
    max-height: 30rem;
    border-radius: $border-radius-base;
    padding: $sizing-m;
    display: flex;
    flex-direction: column;
}

.crmModalHeading {
    border-radius: $border-radius-base $border-radius-base 0 0;
    padding-bottom: $sizing-m;
    margin-bottom: $sizing-m;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        padding: 0;
        margin: 0;
    }
}

.crmModalContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}
