@import "styles/variables.scss";

:root[data-theme="Dark"] {
    .label {
        color: $dark-color-label-text;
    }

    .primary {
        color: $dark-color-label-text;
        background-color: $dark-color-primary;
    }

    .secondary {
        color: $dark-color-label-text;
        background-color: $dark-color-secondary;
    }
}

:root[data-theme="Light"] {
    .label {
        color: $light-color-label-text;
    }

    .primary {
        color: $light-color-label-text;
        background-color: $light-color-primary;
    }

    .secondary {
        color: $light-color-label-text;
        background-color: $light-color-secondary;
    }
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: $sizing-m;
}

.label {
    margin-bottom: $sizing-s;
}

.textarea {
    border-radius: $border-radius-s;
    border: none;
    padding: $sizing-xs $sizing-m;
    resize: none;

    &:focus {
        outline: none;
    }
}
