@import "styles/variables.scss";

:root[data-theme="Dark"] {
    .primary {
        color: $dark-color-text;
        background-color: $dark-color-accent;

        &:hover {
            background-color: $dark-color-accent-hover;
        }
    }

    .secondary {
        color: $dark-color-text;
        background-color: transparent;
        border-color: $dark-color-primary;

        &:hover {
            border-color: $dark-color-text;
        }
    }

    .warn {
        color: $dark-color-text;
        background-color: $color-error;
    }

    .dashedPrimary {
        color: $dark-color-text;
        background-color: transparent;
        border: 2px dashed $dark-color-primary;

        &:hover {
            background-color: $dark-color-primary;
        }
    }

    .dashedSecondary {
        color: $dark-color-text;
        background-color: transparent;
        border: 2px dashed $dark-color-secondary;

        &:hover {
            background-color: $dark-color-secondary;
        }
    }

    .button:disabled {
        background-color: $dark-color-disabled;
    }
}

:root[data-theme="Light"] {
    .primary {
        color: $color-white;
        background-color: $light-color-accent;

        &:hover {
            background-color: $light-color-accent-hover;
        }
    }

    .secondary {
        color: $light-color-text;
        background-color: transparent;
        border-color: $light-color-primary;

        &:hover {
            border-color: $light-color-text;
        }
    }

    .warn {
        color: $color-white;
        background-color: $color-error;
    }

    .dashedPrimary {
        color: $light-color-text;
        background-color: transparent;
        border: 2px dashed $light-color-primary;

        &:hover {
            background-color: $light-color-primary;
        }
    }

    .dashedSecondary {
        color: $light-color-text;
        background-color: transparent;
        border: 2px dashed $light-color-secondary;

        &:hover {
            background-color: $light-color-secondary;
        }
    }

    .button:disabled {
        background-color: $light-color-disabled;
    }
}

.button {
    padding: $sizing-s $sizing-l;
    border-radius: $border-radius-small;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large {
    width: 100%;
    padding: $sizing-m;
}

.secondary {
    border: 1px solid;
}
