@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .primary {
        color: $dark-color-text;
        background-color: $dark-color-accent;

        &:hover,
        &:focus,
        &:active {
            background-color: $dark-color-accent-hover;
        }
    }

    .secondary {
        color: $dark-color-text;
        @include thin-border($dark-color-primary);

        &:hover,
        &:focus,
        &:active {
            border-color: $dark-color-text;
        }
    }

    .warn {
        color: $dark-color-text;
        background-color: $color-error;
    }

    .dashedPrimary {
        color: $dark-color-text;
        @include base-border-dashed($dark-color-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: $dark-color-primary;
        }
    }

    .dashedSecondary {
        color: $dark-color-text;
        @include base-border-dashed($dark-color-secondary);

        &:hover,
        &:focus,
        &:active {
            background-color: $dark-color-secondary;
        }
    }

    .button:disabled {
        background-color: $dark-color-disabled;
    }
}

:root[data-theme="Light"] {
    .primary {
        color: $color-white;
        background-color: $light-color-accent;

        &:hover,
        &:focus,
        &:active {
            background-color: $light-color-accent-hover;
        }
    }

    .secondary {
        color: $light-color-text;
        @include thin-border($light-color-primary);

        &:hover,
        &:focus,
        &:active {
            border-color: $light-color-text;
        }
    }

    .warn {
        color: $color-white;
        background-color: $color-error;
    }

    .dashedPrimary {
        color: $light-color-text;
        @include base-border-dashed($light-color-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: $light-color-primary;
        }
    }

    .dashedSecondary {
        color: $light-color-text;
        @include base-border-dashed($light-color-secondary);

        &:hover,
        &:focus,
        &:active {
            background-color: $light-color-secondary;
        }
    }

    .button:disabled {
        background-color: $light-color-disabled;
    }
}

.button {
    @include normalize-button;
    padding: $sizing-s $sizing-l;
    border-radius: $border-radius-s;
}

.large {
    width: 100%;
    padding: $sizing-m;
}
