@import "./variables.scss";
@import "./mixins.scss";

:root[data-theme="Dark"] {
    *::-webkit-scrollbar-track {
        background: $dark-color-secondary;
    }

    *::-webkit-scrollbar-thumb {
        background-color: $dark-color-primary;
		@include base-border($dark-color-secondary);
    }
}

:root[data-theme="Light"] {
    *::-webkit-scrollbar-track {
        background: $light-color-secondary;
    }

    *::-webkit-scrollbar-thumb {
        background-color: $light-color-primary;
		@include base-border($light-color-secondary);
    }
}

*::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: $border-radius-m;
}

*::-webkit-scrollbar-thumb {
    border-radius: $border-radius-m;
}
