@font-face {
    font-family: "Ubuntu";
    src: url("../../public/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}
