$border-radius-base: 1rem;
$border-radius-small: 0.5rem;

$sizing-xs: 0.25rem;
$sizing-s: 0.5rem;
$sizing-sm: 0.75rem;
$sizing-m: 1rem;
$sizing-l: 1.25rem;
$sizing-xl: 1.5rem;
$sizing-xxl: 1.75rem;
$sizing-xxxl: 2rem;

$font-size-xxl: 2rem;
$font-size-xl: 1.75rem;
$font-size-l: 1.5rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;
$font-size-xs: 0.5rem;

// dark theme
$dark-color-primary: #1b1b1b;
$dark-color-secondary: #2b2b2b;
$dark-color-accent: #f5a93f;
$dark-color-accent-hover: #f5a93fe1;
$dark-color-text: #FFFFFF;
$dark-color-disabled: #555555;

//light theme
$light-color-primary: #ececec;
$light-color-secondary: #ffffff;
$light-color-accent: #f5a93f;
$light-color-accent-hover: #f5a93fe1;
$light-color-text: #414141;
$light-color-disabled: #808080;

$color-error: #e74343;
$color-white: #fff;

// #09C0FA - try as dark accent color
// #171C26 - try as dark primary color
