$border-radius-m: 1rem;
$border-radius-s: 0.5rem;
$border-radius-xs: 0.25rem;

$sizing-xs: 0.25rem;
$sizing-s: 0.5rem;
$sizing-sm: 0.75rem;
$sizing-m: 1rem;
$sizing-l: 1.25rem;
$sizing-xl: 1.5rem;
$sizing-xxl: 1.75rem;
$sizing-xxxl: 2rem;

$font-size-xxl: 2rem;
$font-size-xl: 1.75rem;
$font-size-l: 1.5rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;
$font-size-xs: 0.5rem;

// dark theme
$dark-color-primary: #1b1b1b;
$dark-color-secondary: #2b2b2b;
$dark-color-accent: #6788ff;
$dark-color-accent-hover: #5479fa;
$dark-color-text: #ffffff;
$dark-color-label-text: #cccccc;
$dark-color-disabled: #555555;

//light theme
$light-color-primary: #fafafa;
$light-color-secondary: #e8ecf5;
$light-color-accent: #6788ff;
$light-color-accent-hover: #5479fa;
$light-color-text: #2c2c2c;
$light-color-label-text: #808080;
$light-color-disabled: #cccccc;

$color-error: #e74343;
$color-white: #fff;
