@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .crm-client-orders-history__list-item {
        background-color: $dark-color-secondary;
    }
}

:root[data-theme="Light"] {
    .crm-client-orders-history__list-item {
        background-color: $light-color-secondary;
    }
}

.crm-client-orders-history__list {
    @include vertical-list;
    overflow: auto;
    padding-right: $sizing-s;

    &-item {
        padding: $sizing-m;
        border-radius: $border-radius-s;

        &:not(:last-child) {
            margin-bottom: $sizing-m;
        }
    }
}
