@import "../../../../../../styles/variables.scss";

:root[data-theme="Dark"] {
    .crm-service-card-list-item {
        &:hover {
            background-color: $dark-color-secondary;
        }

        &__new {
            border-color: $dark-color-secondary;
            color: $dark-color-text;

            &:hover {
                background-color: $dark-color-secondary;
            }
        }
    }
}

:root[data-theme="Light"] {
    .crm-service-card-list-item {
        &:hover {
            background-color: $light-color-secondary;
        }

        &__new {
            border-color: $light-color-secondary;
            color: $light-color-text;

            &:hover {
                background-color: $light-color-secondary;
            }
        }
    }
}

.crm-service-card-list {
    list-style: none;
    margin: 0;
    padding: $sizing-l;
    display: flex;
    overflow-x: auto;

    &-item {
        min-width: 12rem;
        max-width: 12rem;
        min-height: 12rem;
        max-height: 12rem;
        display: flex;
        margin-right: $sizing-m;
        cursor: pointer;
        border-radius: $border-radius-small;

        &__new {
            flex: 1;
            border: 2px dashed;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            border-radius: $border-radius-small;
        }
    }
}
