@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .crm-main-menu-item {
        color: $dark-color-text;

        &:not(.active):hover,
        &:not(.active):focus {
            color: $dark-color-accent;
            background-color: $dark-color-secondary;
        }

        &.active {
            background-color: $dark-color-accent;
        }

        &:disabled {
            color: #ccc;
        }
    }
}

:root[data-theme="Light"] {
    .crm-main-menu-item {
        color: $light-color-text;

        &:not(.active):not(:disabled):hover,
        &:not(.active):not(:disabled):focus {
            color: $light-color-accent;
            background-color: $light-color-secondary;
        }

        &.active {
            color: #fff;
            background-color: $light-color-accent;
        }

        &:disabled {
            color: #ccc;
        }
    }
}

.crm-main-menu-item {
    @include normalize-button;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: $border-radius-s;
    padding: $sizing-s;
    font-size: $font-size-l;
}
