@import "../../../../../../styles/variables.scss";

.crm-account__personal-info {
    &__modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-content {
            flex: 1;

            &__row {
                display: flex;

                &-item {
                    flex: 1;

                    &:not(:last-child) {
                        margin-right: $sizing-s;
                    }
                }
            }
        }

        &-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}
