@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .regular {
        color: $dark-color-text;

        &:hover {
            color: $dark-color-accent;
        }
    }

    .warn {
        &:hover {
            color: $color-error;
        }
    }

    .error {
        color: $color-error;

        &:hover {
            color: $dark-color-text;
        }
    }
}

:root[data-theme="Light"] {
    .regular {
        color: $light-color-text;

        &:hover {
            color: $light-color-accent;
        }
    }

    .warn {
        &:hover {
            color: $color-error;
        }
    }

    .error {
        color: $color-error;

        &:hover {
            color: $light-color-text;
        }
    }
}

.buttonIcon {
    @include normalize-button;
    font-size: $font-size-l;
    transition: color 0.5s;
}
