@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .primary {
        color: $dark-color-text;

        &:hover {
            color: $dark-color-accent;
        }
    }

    .accent {
        color: $dark-color-accent;

        &:hover {
            color: $dark-color-accent-hover;
            border-color: $light-color-accent-hover;
        }
    }
}

:root[data-theme="Light"] {
    .primary {
        color: $light-color-text;

        &:hover {
            color: $dark-color-accent;
        }
    }

    .accent {
        color: $light-color-accent;

        &:hover {
            color: $light-color-accent-hover;
            border-color: $light-color-accent-hover;
        }
    }
}

.small {
    font-size: $font-size-s;
}

.regular {
    font-size: $font-size-m;
}

.buttonLink {
    @include normalize-button;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid transparent;
}
