@import "styles/variables.scss";

:root[data-theme="Dark"] {
    .crm-sign-in__heading {
        color: $dark-color-text;
    }
}

:root[data-theme="Light"] {
    .crm-sign-in__heading {
        color: $light-color-text;
    }
}

.crm-sign-in {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;

        &-section {
            display: flex;
            align-items: center;

            &__action:not(:last-child) {
                padding-right: $sizing-s;
                border-right: 1px solid #ccc;
                margin-right: $sizing-s;
            }
        }
    }

    &__loader-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__heading {
        text-align: center;
        color: $light-color-text;
        font-weight: 700;

        p {
            margin: 0;
        }
    }

    &__form {
        padding-top: $sizing-m;

        &-actions {
            display: flex;
            justify-content: flex-end;
        }

        &-content {
            padding-bottom: $sizing-m;
            margin-bottom: $sizing-m;

            &__row {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
            margin-right: $sizing-s;
        }
    }
}
