@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .crm-clients-list {
        border-color: $dark-color-secondary;

        &-item__new {
            @include base-border-dashed($dark-color-secondary);
            color: $dark-color-text;

            &:hover {
                background-color: $dark-color-secondary;
            }
        }
    }
}

:root[data-theme="Light"] {
    .crm-clients-list {
        border-color: $light-color-secondary;

        &-item__new {
            @include base-border-dashed($light-color-secondary);
            color: $light-color-text;

            &:hover {
                background-color: $light-color-secondary;
            }
        }
    }
}

.crm-clients-list {
    @include vertical-list;
    max-width: 15rem;
    padding-right: $sizing-m;
    border-right: 2px solid;

    &-item {
        margin-bottom: $sizing-s;

        &__new {
            @include normalize-button;
            justify-content: flex-start;
            width: 100%;
            padding: $sizing-sm $sizing-s;
            transition: all 0.5s;
            border-radius: $border-radius-s;
        }
    }
}
