@import "styles/variables.scss";

:root[data-theme="Dark"] {
    .inputRadioGroup {
        background-color: $dark-color-primary;
    }

    .label,
    .radioLabel {
        color: $dark-color-label-text;
    }

    .radio {
        accent-color: $dark-color-accent;
    }
}

:root[data-theme="Light"] {
    .inputRadioGroup {
        background-color: $light-color-primary;
    }

    .label,
    .radioLabel {
        color: $light-color-label-text;
    }

    .radio {
        accent-color: $light-color-accent;
    }
}

.inputRadioContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: $sizing-m;
}

.label {
    margin-bottom: $sizing-s;
}

.radioContainer {
    display: flex;
    align-items: center;
    padding: 0.125rem;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: $sizing-m;
    }
}

.radio {
    margin-right: $sizing-xs;
}

.radio,
.radioLabel {
    cursor: pointer;
}

.inputRadioGroup {
    display: flex;
    align-items: center;
    padding: $sizing-m $sizing-s;
    border-radius: $border-radius-s;
}

