@import "styles/variables.scss";
@import "styles/mixins.scss";

:root[data-theme="Dark"] {
    .crm-services__add-new-category__button {
        @include base-border-dashed($dark-color-secondary);
        color: $dark-color-text;

        &:hover {
            background-color: $dark-color-secondary;
        }
    }
}

:root[data-theme="Light"] {
    .crm-services__add-new-category__button {
        @include base-border-dashed($light-color-secondary);
        color: $light-color-text;

        &:hover {
            background-color: $light-color-secondary;
        }
    }
}

.crm-services {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: $sizing-s;

    &__add-new-category {
        margin-bottom: $sizing-m;

        &__button {
            @include normalize-button;
            padding: $sizing-m $sizing-l;
            width: 100%;
            cursor: pointer;
            transition: all 0.5s;
            border-radius: $border-radius-s;
        }
    }
}
