@import "styles/variables.scss";

:root[data-theme="Dark"] {
    .messageInpage {
        color: $dark-color-text;
    }
}

:root[data-theme="Light"] {
    .messageInpage {
        color: $light-color-text;
    }
}

.messageInpageContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.messageInpage {
    width: 100%;
    border: 1px solid $color-error;
    border-radius: $border-radius-small;
    margin-top: $sizing-m;
    padding: $sizing-s;
    padding-left: $sizing-m;
    background-color: rgba(253, 100, 100, 0.253);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    button {
        font-size: 1rem;
    }
}

.message {
    display: block;
}
