@import "styles/variables.scss";
@import "styles/mixins.scss";

.crm-brands-dropdown {
    position: absolute;
    left: 0;
    top: 3.5rem;
    z-index: 2;
    background-color: $light-color-primary;
    padding: $sizing-s 0;
    border-radius: $border-radius-xs;
    box-shadow: 0 0 0.125rem 0 $light-color-label-text;
    width: 10rem;
    @include thin-border($light-color-secondary);

    &__list {
        @include vertical-list;

        &-item {
            padding: $sizing-s $sizing-m;

            &:hover {
                background-color: $light-color-accent;
                color: $color-white;
                cursor: pointer;
            }

            &-divider {
                height: 1px;
                background-color: #ccc;
                margin: $sizing-s 0;
            }
        }
    }

    &.expanded {
        display: block;
    }

    &.collapsed {
        display: none;
    }

    &__container {
        position: relative;
    }

    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.3);

        &.expanded {
            display: block;
        }

        &.collapsed {
            display: none;
        }
    }

    &__button {
        @include normalize-button;
        background-color: $light-color-text;
        color: $color-white;
        border-radius: $border-radius-s;
        width: 2.5rem;
        height: 2.5rem;
        font-size: $font-size-s;
        font-weight: bold;
    }
}
